<ul>
    <li><a asp-controller="Home" asp-action="Index_GridWith_Filter_Sort_Paging_Grouping" asp-route-name="Index_GridWith_Filter_Sort_Paging_Grouping" target="_blank">گريد با فيلتر ، سورت و گروه بندي</a></li>
    <li><a asp-controller="Home" asp-action="Index_GridViewInfiniteScroll" asp-route-name="Index_GridViewInfiniteScroll" target="_blank">گريد لود با اسكرول</a></li>
    <li><a asp-controller="Home" asp-action="GridInlineEdit" asp-route-name="GridInlineEdit" target="_blank">گريد با امكان ويرايش ركورد</a></li>
    <li><a asp-controller="Home" asp-action="Index_GridViewInfiniteScroll" asp-route-name="Index_GridViewInfiniteScroll" target="_blank">گريد با امكان ويرايش پاپ آب</a></li>
    <li><a asp-controller="Home" asp-action="Index_GridViewInfiniteScroll" asp-route-name="Index_GridViewInfiniteScroll" target="_blank">گريد با امكان نمايش سامري</a></li>
</ul>