@using GridView.ViewModel;
@using GridView.TagHelpers
@using static GridView.TagHelpers.DynamicGridExtensions

<link href="~/css/Eorc_GridView.css" rel="stylesheet" />
@{
    var gridUrl = Url.Action("GetGridViewData", "Home");
}

<link href="~/font-awsome/font-awesome.min.css" rel="stylesheet" />
@{
    var model = new List<ProductSaleModel>();
}
@(

         Eorc_Grid<ProductSaleModel>("grdProduct")
        .Url(gridUrl)
        .Items(model.Cast<object>().ToList())
        .EditJavaScriptFunction("btnEditAlireza", new { modalName = "mymodal", name = "alireza" })
        .DeleteJavaScriptFunction("btnDeleteAlireza(this)")
        .PageSize(20)
        .EnablePaging(true)
        .EnableFiltering(true)
        .EnableSorting(true)
        .EnableFooter(true)
        .EnableGrouping(true)
        .EnableExcelExport(true)
        .EnablePrint(false)
        .EnableEditButton(true)
        .EnableDeleteButton(true)
        .EnableAdvancedFilter(true)
        @*.EnableCheckBoxColumn(false)*@
        .EnableInlineEdit(true)
        .EnableShowHiddenColumns(true)
        .AddCustomHtml("<button class='grid-print-btn' onclick='alert(\"Hello\")'>سلام</button>")
        .Build()
)
<script src="~/js/jquery-3.7.1.js"></script>
<script src="~/js/xlsx.full.min.js"></script>
<script src="~/js/Eorc_GridView.js"></script>
<script src="~/js/userjs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx-style@0.8.13/dist/xlsx-style.min.js"></script>

<script>

    // جهت لود اوليه داده هاي گريد 
   document.addEventListener('DOMContentLoaded', function() {
    let currentPage = 1;
    let pageSize = parseInt(document.getElementById('pageSizeSelector')?.value) || 30;

    // در صورتي كه بخواهيم پارامتر اضافه تر به گريد پاس بديم قرار ميدهيم اين كد 
    customRequestBody = {
        searchTerm: "تبلت", // ميتونيم از اينپوت هاي فرم بخونيم
            name: "test", // ميتونيم از اينپوت هاي فرم بخونيم
        };

    fetchGridData(currentPage, pageSize, customRequestBody);
    enableRowDetailsPopup();

        // نمونه فراخوانی تابع با پارامتر استایل
        // setTimeout(() => {
        //     applyStylesToGridRows(
        //         { color: 'red', 'font-size': '14px' },
        //         { iD: ['1', '3'], Category: ['کامپیوتر', 'الکترونیک'] }
        //     );
        // }, 100);
});
</script>

